@import "home";
@import "test";
@import "styleguide";
@import "template";

@import"new_poi";

@import "artists/index";
@import "journeys/index";
@import "devise/index";



.tabs-menu {
    height: auto;
    float: left;
    clear: both;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}



.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%;


}

.tab-content {
    width: 660px;
    padding: 20px;
    display: none;
}



.hidden-content {
  display: none;
}

ul {
  list-style-type: none;
}


div[id*="itab-"] {
  display: flex;
  flex-direction: column;
}

.a-to-pad {
  margin-left: 100px;
  margin-right: 100px;
}

// remove the wrapping container
.gm-style-cc:last-child {
    display: none !important;
}
// remove the link only
a[title="Report errors in the road map or imagery to Google"] {
    display: none !important;
}
