@import "home";
@import "test";
@import "styleguide";
@import "template";

@import"new_poi";

@import "artists/index";
@import "journeys/index";
@import "devise/index";


.container-height-index {

  height: 100vh;
  // background-color: $brand-color;

}

.map-index-start {
   height: 98vh;
 }

.map-index-next {
   height: 75vh;
}

.container-height-20vh {
  height: 25vh;
}

.a-to-pad {
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tabs-menu-index {

    display: flex;
    //justify-content: center;
    //align-items: center;
    align-items: center;
    width: 100%;
}


div.tabs-menu-index > div {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  background-color: white;


}
div.tabs-menu-index > div > a {

}

div.tabs-menu-index > div.current {
  background-color: $brand-color;
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%;
.a-100vh {
  height: 100vh;
}

}

.tab-content {
    width: 660px;
    padding: 20px;
    display: none;
}

li.current {
  background-color: $brand-color;
}

.hidden-content {
  display: none;
}

ul {
  list-style-type: none;
}

h4[id*="poi-title"] {
  background-color: $brand-color;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div[id*="itab-"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}



// div[id*="tab-"] {
//   padding-left: 20px;
//   padding-right: 20px;
//   padding-top: 10px;
// }

// remove the wrapping container
.gm-style-cc:last-child {
    display: none !important;
}
// remove the link only
a[title="Report errors in the road map or imagery to Google"] {
    display: none !important;
}

.users-to-select {
  display: flex;

}

.journeys-footer-index-i {
   color: white;
   text-align: center;

   width: 100%;

}

.journeys-footer-title-index {
  margin: 0;
  padding: 0 0 0 0px;
  h3 {
  margin: 0;
  padding: 0;
  }
  p {
  margin: 0;
  padding: 0;
  }
}

