h1 {
  font-family: 'Fjalla One', sans-serif;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
}


p {
  font-family: 'Abel', sans-serif;
}

span {
font-family: 'Jim Nightshade', cursive;
}
