// h1 {
//   font-family: 'Fjalla One', sans-serif;
// }

// h2 {
//   font-family: 'Fjalla One', sans-serif;
// }

// h3 {
//   font-family: 'Fjalla One', sans-serif;
// }


// p {
//   font-family: 'Abel', sans-serif;
// }

// span {
// font-family: 'Jim Nightshade', cursive;
// }

.style-guide--entry h2:not(.style-guide--header) { margin-top: 1.3em; }

.style-guide--subentry h3:not(.style-guide--header) {
  margin-top: 0;
  margin-bottom: 1em;
}

.style-guide--subentry {
  background-color: #FAFAFA; // custom color only for this page
                             // that's why it's not in variables.scss
  padding: 1.5em;
  margin: 1em 0;
}

.style-guide--colors {
  .color { height: 5em; }

// brand color
  .brand-color { background-color: $brand-color; }
// map color
  .map-black { background-color: $map-black; }
  .map-grey { background-color: $map-grey; }

//journey color
  .journey-red { background-color: $journey-red; }
  .journey-cream { background-color: $journey-cream; }
  .journey-orange { background-color: $journey-orange; }
  .journey-green { background-color: $journey-green; }
}

.style-guide--sidebar {
  a {
    color: $map-grey;
  }
}

.btn-fa {
  font-size: 35px;
}

.poesie {
  font-family: 'Bad Script','cursive';
  font-size: 18px;
}
