video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -99;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}





// #videointro {
//   text-align: center;
//   font-weight:100;
//   background: rgba(0,0,0,0);
//   color: white;
//   padding: 1rem;
//   width: 53%;
//   margin:2rem;
//   float: right;
//   font-size: 1.2rem;
// }

#videointro .button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}
#videointro .button:hover {
   background: rgba(0,0,0,0.5);
}

// @media screen and (max-width: 500px) {
//   div{width:70%;}
// }
// @media screen and (max-device-width: 800px) {
//   html { background: url("https://www.youtube.com/embed/rK-NrTkFa9c") #000 no-repeat center center fixed;}
//   #bgvid { display: none; }
// }


.container-welcome {

 position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(255,255,255,0);
  color: white;
  width: 100%;
}

#welcome-wrapper {
  position: absolute;
  width: 100vw;
}
