<<<<<<< HEAD



=======
        <div class="map" id="map">
        </div>

        <div class="poi-footer ">

          <div class="poi-footer-user-change">
            <%= image_tag "logo.png",  alt: "user", class: "avatar-small" %>
          </div>
          <div class="poi-footer-title">
            <h4>Chateau des ducs de bretagne</h4>
          </div>
          <div class="poi-footer-user-change">
            <%= image_tag "logo.png",  alt: "user", class: "avatar-small" %>
          </div>
       </div>

      </div>
    </div>
  </div>
</div>
>>>>>>> 87681414b18ebd7af3d5e91b5ba8b723a480b128

