<!DOCTYPE html>
<html>
  <head>
  <title>Cities Stories - Visitez une ville à travers des histoires singulières </title>

<meta name="description" content="Racontez vous à travers la création d&#39;un parcours dans une ville sous forme de textes vidéos, images, sons. Vivez votre ville où un territoire d&#39;une manière différente et à travers les yeux de quelqu&#39;un d&#39;autre. ">

<!-- Facebook Open Graph data -->
<meta property="og:title" content="Cities Stories - Visitez une ville à travers des histoires singulières " />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://localhost:3000/journeys" />
<meta property="og:image" content="http://localhost:3000/images/cover.png" />
<meta property="og:description" content="Racontez vous à travers la création d&#39;un parcours dans une ville sous forme de textes vidéos, images, sons. Vivez votre ville où un territoire d&#39;une manière différente et à travers les yeux de quelqu&#39;un d&#39;autre. " />
<meta property="og:site_name" content="Cities Stories - Visitez une ville à travers des histoires singulières " />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@NantesStories">
<meta name="twitter:title" content="Cities Stories - Visitez une ville à travers des histoires singulières ">
<meta name="twitter:description" content="Racontez vous à travers la création d&#39;un parcours dans une ville sous forme de textes vidéos, images, sons. Vivez votre ville où un territoire d&#39;une manière différente et à travers les yeux de quelqu&#39;un d&#39;autre. ">
<meta name="twitter:creator" content="@NantesStories">
<meta name="twitter:image:src" content="http://localhost:3000/images/cover.png">



    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="5OuwXt5ttPtkQs4RE42NhW9IfLOG9ATjdHuHfLC+k1Koa1XRWdZUbhQpARbe5831yZywrX+Alwqk9wmSnI6JiQ==" />
    <meta name="action-cable-url" content="/cable" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-620ae91a089a0a4c96de8c2818c174ad3724251511be5d18417e19991f21dc23.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" media="all" href="/assets/application-eb6d36499a5ae2296f0bac6bf9085b36fc44ab9cd8639705524714d19764f476.css" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Fjalla+One|Jim+Nightshade" rel="stylesheet">
  </head>
  <body>
   <!--   render 'shared/navbar'  -->
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7_D8O-4q83V8_-d-6aSdbvb6sVeXdnYc"></script>
    <div class="container-full">
  <div class="row-no-padding">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="container-height">
        <div class="map" id="map" style="z-index: 99;">
        </div>
        <div class="journeys-footer ">
          <div class="journeys-footer-title">
            <h4 class="x" id="poi-title1">  </h4>
            <h4 class="y hidden-content" id="poi-title2">  </h4>
            <h4 class="z hidden-content" id="poi-title3">  </h4>
            <h4 class="w hidden-content" id="poi-title4">  </h4>
          </div>
        </div>
        <div class="hidden-content" id="tabs-container">
          <ul class="tabs-menu list-inline">
              <li class="current">
                  <a href="#tab-1" class="x" id="tab-1">
                  <img id="img-1" class="avatar" src=""></img>
                  </a>
              </li>
              <li>
                  <a href="#tab-2" class="y" id="tab-2">
                  <img id="img-2" class="avatar" src=""></img>
                  </a>
              </li>
              <li>
                  <a href="#tab-3" class="z" id="tab-3">
                  <img id="img-3" class="avatar" src=""></img>
                  </a>
              </li>
              <li>
                  <a href="#tab-4" class="w" id="tab-4">
                  <img id="img-4" class="avatar" src=""></img>
                  </a>
              </li>
            </ul>
          </div>
          <div class="tab">
            <div id="itab-1" class="x" style=""></div>
            <div id="itab-2" class="y hidden-content" style="display: none;"></div>
            <div id="itab-3" class="z hidden-content" style="display: none;"></div>
            <div id="itab-4" class="w hidden-content" style="display: none;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">


var styleOut =
[  {
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape.man_made",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.medical",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.place_of_worship",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.school",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.sports_complex",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#2b383e"
      },
      {
        "weight": 0.5
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#00a5b7"
      },
      {
        "weight": 2
      }
    ]
  }
];

var centerMap = new google.maps.LatLng(47.216941, -1.551437);
var myOptions = {
  zoom: 13,
  center: centerMap,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: styleOut,
  mapTypeControl: false,
  streetViewControl: false,
  zoomControl: false
};
var map = new google.maps.Map(document.getElementById('map'), myOptions);
var ico = "dollarx50.png";
var titre = "La Cordee";
var blue = '#0000FF';
var green = '#00FF00';
var red = '#FF0000';
var yellow = '#F0F000';
var purple = '#FF1AFF';
var orange = '#ff6600';
var all_markers = {};
var counter = 0;


// -----------------------------------------------------------
function marquePoi(lat,lng,ico,titre, visibility) {
  var maLatLng = new google.maps.LatLng(lat, lng);
  var marqueur = new google.maps.Marker({
  position: maLatLng,
  map: map,
  title: titre,
  visible: visibility
  });
  all_markers[counter] = marqueur;
  counter++;
  return marqueur;
};

function addToCoordinatesObjectArray(coordinatesArray, lat, lng){
  var newLatLng = new google.maps.LatLng(lat, lng)
  coordinatesArray.push(newLatLng);
};

function createParcours(hashDanslArray, color) {
  var coordinatesArray = []
    for(var i = 0; i < hashDanslArray.length; i++) {
      var lat = hashDanslArray[i][0];
      var lng = hashDanslArray[i][1];
      var total = lat+" "+lng
      addToCoordinatesObjectArray(coordinatesArray, lat, lng);
      marquePoi(lat,lng, ico, total, true)
    }
  var parcoursPath = new google.maps.Polyline({
    path: coordinatesArray,
    geodesic: true,
    strokeColor: color,
    strokeOpacity: 1,
    strokeWeight: 6,
  });
  parcoursPath.setMap(map);
};

function getCoordinatesonClick() {
  var infowindow = null;
  var marqueur = null;
  map.addListener("click", function (event) {
    if (infowindow) {
      infowindow.close();
    }
    var lat = event.latLng.lat();
    var lng = event.latLng.lng();
    infowindow = new google.maps.InfoWindow({
      content: lat + ', ' + lng
    });
    marqueur = marquePoi(lat, lng, ico, "", false)
    infowindow.open(map, marqueur);
  });
};


createParcours([[47.216225, -1.549492], [47.226925, -1.55429], [47.220081, -1.555241], [47.216491, -1.551437], [47.222902, -1.552928]], '#E59500');
createParcours([[47.213304, -1.559011], [47.217674, -1.541814], [47.222902, -1.552928], [47.195252, -1.581603], [47.226925, -1.55429]], '#F44336');
createParcours([[47.218232, -1.550893], [47.19982, -1.574387], [47.223744, -1.581836], [47.223311, -1.567611], [47.226925, -1.55429]], '#E5DADA');
createParcours([[47.218232, -1.550893], [47.242265, -1.547478], [47.245819, -1.560954], [47.233968, -1.535798], [47.216491, -1.551437], [47.226925, -1.55429]], '#52DEE5');



for(var i = 0; i < Object.keys(all_markers).length; i++) {
all_markers[i].addListener('click', function() {
 var currentLatitude = this.position.lat();
 $.ajax({
    url: "/value/?pos="+currentLatitude,
    success: function(data) {

      $('#tabs-container').removeClass('hidden-content');
      var length = data.length;
      if (data.length > 4) {
        length = 4;
      };
      for(var j = 0; j < 4; j++) {
        var count = j+1;
        var img = "img-"+count
        var jtitle = "tab-"+count;
        var ititle = "itab-"+count;
        var ptitle = "poi-title"+count;
        document.getElementById(img).src = "";
        document.getElementById(ptitle).innerHTML = "";
        document.getElementById(ititle).innerHTML = "";


      }
      for(var j = 0; j < length; j++) {
        var count = j+1;
        var img = "img-"+count
        var jtitle = "tab-"+count;
        var ititle = "itab-"+count;
        var ptitle = "poi-title"+count;
        document.getElementById(img).src = data[j]["avatar"];
        document.getElementById(ptitle).innerHTML = data[j]["poiname"];


        var toAddToDiv = "<h4>"+ data[j]["journeyname"];

        toAddToDiv +="</h4>"+" "+"<span>"+ "<a class='a-to-pad' href='/journeys/"+data[j]["journeyid"]+"/pois/"+data[j]["poiid"]+"'>ICI</a>"
        if (data[j]["poiphoto"]!= null) {
          toAddToDiv += " "+ "<i class='fa fa-camera btn-fa' aria-hidden='true'></i>";

        };
        if (data[j]["poivideo"]!= null) {
          toAddToDiv += " "+ "<i class='fa fa-youtube-play btn-fa' aria-hidden='true'></i>";

        };
        if (data[j]["poisound"]!= null) {
          toAddToDiv += " "+ "<i class='fa fa-microphone btn-fa' aria-hidden='true'></i>";

        };
        if (data[j]["poitext"]!= null) {
          toAddToDiv += " "+ "<i class='fa fa-font btn-fa' aria-hidden='true'></i>";

        };

        document.getElementById(ititle).innerHTML = toAddToDiv +"</span>";

      }

    },

    error: function(jqXHR) {

    }
  });


});
}


</script>


    <script src="/assets/application-b0f89ac03cefcbdc99de91380bbcb3f60bbfaa3c8c9dc9eca7470708333302ae.js"></script>
    
  </body>
</html>
