<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="banner ">

          <div>
          <%= image_tag "logo.png",  alt: "user", class: "avatar-large" %>
          </div>
          <div>
          <h4>BALADE SOLITAIRE</h4>
          par swagloulou
         </div>
      </div>
      <div class="alt-banner">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 offset-md-3 col-md-6">
      <div class="body-contenu">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 offset-md-3 col-md-6">
      <div class="map">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 offset-md-3 col-md-6">
      <div class="footer">
      </div>
    </div>
  </div>
</div>
