<div class="container-full">
  <div class="row">
    <div class="container-height">
      <div class="col-xs-12 col-md-6 col-md-offset-3">

        <div class="banner">
          <div>
            <%= image_tag "logo.png",  alt: "user", class: "avatar-large" %>
          </div>
          <div class="banner-title">
            <h3>BALADE SOLITAIRE</h3>
            <p>par thomasloldu44</p>
          </div>
        </div>

        <div class="alt-banner">
        </div>

        <div class="body-contenu">

          <div class="body-description">
            <p>Tout a commencé par une envie de se balader dans Nantes sans but précis. Juste une découverte par l'errance.</p>
          </div>
          <hr class="padding-hr">
          <div class="body-media">
            <%= image_tag "media_template.png", class: "img-responsive-custom" %>
          </div>
         </div>

        <div class="map" id="map">
        </div>

        <div class="footer ">

          <div class="footer-user-change">
            <i class="fa fa-angle-left btn-fa" aria-hidden="true"></i>
            <%= image_tag "logo.png",  alt: "user", class: "avatar-small" %>
          </div>
          <div class="footer-title">
            <h4>Chateau des ducs de bretagne</h4>
          </div>
          <div class="footer-user-change">
            <%= image_tag "logo.png",  alt: "user", class: "avatar-small" %>
            <i class="fa fa-angle-right btn-fa" aria-hidden="true"></i>
          </div>
       </div>

      </div>
    </div>
  </div>
</div>
