<style type="text/css">
@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url("https://www.youtube.com/embed/rK-NrTkFa9c") #000 no-repeat center center fixed;}
  #bgvid { display: none; }
}
</style>


<!-- <video frameborder="0" allowfullscreen id="bgvid" playinline autoplay muted loop>
  <source src="https://www.youtube.com/embed/rK-NrTkFa9c" type="mp4">
  </video> -->

<div style="position: fixed; z-index: -99; width: 100%; height: 100%">
  <iframe frameborder="0" height="100%" width="100%"
    src="https://www.youtube.com/embed/X-87DNw5n7w?autoplay=1&controls=0&showinfo=0&autohide=1&frameborder=0&allowfullscreen=0&loop=1&playlist=X-87DNw5n7w">
  </iframe>
</div>
<div id="videointro">


     <h1>City Stories</h1>
     <%= cl_image_tag("logo_citystories-03-02_al7idf.png", :width=>25, :crop=>"scale")%>


<br>
  <h5> Faites d'une ville votre page blanche. Parcourez la selon le regard et les yeux d'un autre.
  </h5>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> <h5> Racontez vous et racontez nous votre ville  à travers vos parcours.</h5>
  <%= link_to "Entrer", journeys_path, class: "button"%>

  <br>

</div>
