.avatar-selected {
  width: 40px;
  border-radius: 50%;
}



.white-container-index {

  height: 20vh;

}

.affichage-portraits {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  width: 100%;
}

.portrait{
  padding: 20px 20px 20px 20px;
}

.portrait-active{
  background-color: $brand-color;
}


.journey-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px 15px 20px;
  background-color: $brand-color;
  color: white;


  .title {
    margin: 0;
  }

  .icons {
    display: flex;
    align-items: center;
    margin: 0;
  }
}


