<div class="container-full">
  <div class="row-no-padding">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="container-height">
        <div class="map" id="map" style="z-index: 99;">
        </div>
        <div class="journeys-footer ">
          <div class="journeys-footer-title">
            <h4 class="x" id="poi-title1">  </h4>
            <h4 class="y hidden-content" id="poi-title2">  </h4>
            <h4 class="z hidden-content" id="poi-title3">  </h4>
            <h4 class="w hidden-content" id="poi-title4">  </h4>
          </div>
        </div>
        <div class="hidden-content" id="tabs-container">
          <ul class="tabs-menu list-inline">
              <li class="current">
                  <a href="#tab-1" class="x" id="tab-1">
                  <img id="img-1" class="avatar" src=""></img>
                  </a>
              </li>
              <li>
                  <a href="#tab-2" class="y" id="tab-2">
                  <img id="img-2" class="avatar" src=""></img>
                  </a>
              </li>
              <li>
                  <a href="#tab-3" class="z" id="tab-3">
                  <img id="img-3" class="avatar" src=""></img>
                  </a>
              </li>
              <li>
                  <a href="#tab-4" class="w" id="tab-4">
                  <img id="img-4" class="avatar" src=""></img>
                  </a>
              </li>
            </ul>
          </div>
          <div class="tab">
            <div id="itab-1" class="x" style=""></div>
            <div id="itab-2" class="y hidden-content" style="display: none;"></div>
            <div id="itab-3" class="z hidden-content" style="display: none;"></div>
            <div id="itab-4" class="w hidden-content" style="display: none;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">


var styleOut =
[  {
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape.man_made",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.medical",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.place_of_worship",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.school",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "poi.sports_complex",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#2b383e"
      },
      {
        "weight": 0.5
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#0f1416"
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#00a5b7"
      },
      {
        "weight": 2
      }
    ]
  }
];

var centerMap = new google.maps.LatLng(47.216941, -1.551437);
var myOptions = {
  zoom: 13,
  center: centerMap,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: styleOut,
  mapTypeControl: false,
  streetViewControl: false,
  zoomControl: false
};
var map = new google.maps.Map(document.getElementById('map'), myOptions);
var ico = "dollarx50.png";
var titre = "La Cordee";
var blue = '#0000FF';
var green = '#00FF00';
var red = '#FF0000';
var yellow = '#F0F000';
var purple = '#FF1AFF';
var orange = '#ff6600';
var all_markers = {};
var counter = 0;


// -----------------------------------------------------------
function marquePoi(lat,lng,ico,titre, visibility) {
  var maLatLng = new google.maps.LatLng(lat, lng);
  var marqueur = new google.maps.Marker({
  position: maLatLng,
  map: map,
  title: titre,
  visible: visibility
  });
  all_markers[counter] = marqueur;
  counter++;
  return marqueur;
};

function addToCoordinatesObjectArray(coordinatesArray, lat, lng){
  var newLatLng = new google.maps.LatLng(lat, lng)
  coordinatesArray.push(newLatLng);
};

function createParcours(hashDanslArray, color) {
  var coordinatesArray = []
    for(var i = 0; i < hashDanslArray.length; i++) {
      var lat = hashDanslArray[i][0];
      var lng = hashDanslArray[i][1];
      var total = lat+" "+lng
      addToCoordinatesObjectArray(coordinatesArray, lat, lng);
      marquePoi(lat,lng, ico, total, true)
    }
  var parcoursPath = new google.maps.Polyline({
    path: coordinatesArray,
    geodesic: true,
    strokeColor: color,
    strokeOpacity: 1,
    strokeWeight: 6,
  });
  parcoursPath.setMap(map);
};

function getCoordinatesonClick() {
  var infowindow = null;
  var marqueur = null;
  map.addListener("click", function (event) {
    if (infowindow) {
      infowindow.close();
    }
    var lat = event.latLng.lat();
    var lng = event.latLng.lng();
    infowindow = new google.maps.InfoWindow({
      content: lat + ', ' + lng
    });
    marqueur = marquePoi(lat, lng, ico, "", false)
    infowindow.open(map, marqueur);
  });
};


<% color = ['#E59500', '#F44336', '#E5DADA', '#52DEE5'] %>
<% @coordinates_hash.each_with_index do |coordinate,i| %>
createParcours(<%= @coordinates_hash[i] %>, '<%= color[i] %>');
<% end %>



for(var i = 0; i < Object.keys(all_markers).length; i++) {
all_markers[i].addListener('click', function() {
 var currentLatitude = this.position.lat();
 $.ajax({
    url: "/value/?pos="+currentLatitude,
    success: function(data) {

      $('#tabs-container').removeClass('hidden-content');
      var length = data.length;
      if (data.length > 4) {
        length = 4;
      };
      for(var j = 0; j < 4; j++) {
        var count = j+1;
        var img = "img-"+count
        var jtitle = "tab-"+count;
        var ititle = "itab-"+count;
        var ptitle = "poi-title"+count;
        document.getElementById(img).src = "";
        document.getElementById(ptitle).innerHTML = "";
        document.getElementById(ititle).innerHTML = "";


      }
      for(var j = 0; j < length; j++) {
        var count = j+1;
        var img = "img-"+count
        var jtitle = "tab-"+count;
        var ititle = "itab-"+count;
        var ptitle = "poi-title"+count;
        document.getElementById(img).src = data[j]["avatar"];
        document.getElementById(ptitle).innerHTML = data[j]["poiname"];

        var toAddToDiv = "<h4>"+ data[j]["journeyname"];
        toAddToDiv += " "+"<span>"+ "<a class='a-to-pad' href='/journeys/"+data[j]["journeyid"]+"/pois/"+data[j]["poiid"]+"'>ICI</a>"
        if (data[j]["poiphoto"]!= null) {
          toAddToDiv += " "+ "<i class='fa fa-camera btn-fa' aria-hidden='true'></i>";

        };
        if (data[j]["poivideo"]!= null) {
          toAddToDiv += " "+ "<i class='fa fa-youtube-play btn-fa' aria-hidden='true'></i>";

        };
        if (data[j]["poisound"]!= null) {
          toAddToDiv += " "+ "<i class='fa fa-microphone btn-fa' aria-hidden='true'></i>";

        };
        if (data[j]["poitext"]!= null) {
          toAddToDiv += " "+ "<i class='fa fa-font btn-fa' aria-hidden='true'></i>";

        };

        document.getElementById(ititle).innerHTML = toAddToDiv +"</span></h4>";

      }

    },

    error: function(jqXHR) {

    }
  });


});
}


</script>
