<div class="container-full">
  <div class="row-no-padding">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="container-height">

        <div class="map" id="map">
        </div>

        <div class="journeys-footer ">
          <div class="journeys-footer-title">
            <h4>Chateau des ducs de bretagne</h4>
          </div>
        </div>
        <div class="white-container-index">
          <div class="affichage-portraits">
            <div class="portrait">
              <%= image_tag "logo.png",  alt: "user", class: "avatar-medium" %>
            </div>
            <div class="portrait">
              <%= image_tag "logo.png",  alt: "user", class: "avatar-medium" %>
            </div>
            <div class="portrait">
              <%= image_tag "logo.png",  alt: "user", class: "avatar-medium" %>
            </div>
            <div class="portrait">
              <%= image_tag "logo.png",  alt: "user", class: "avatar-medium" %>
            </div>

          </div>

          <div class="title-icons">
            <h3 class="title"> Night Experience </h3>

              <ul class="icons list-unstyled list-inline">
                <li><i class="fa fa-font  btn-fa" aria-hidden="true"></i></li>
                <li><i class="fa fa-exclamation  btn-fa" aria-hidden="true"></i></li>
                <li><i class="fa fa-youtube-play btn-fa" aria-hidden="true"></i></li>
                <li><i class="fa fa-microphone btn-fa" aria-hidden="true"></i></li>
                <li><i class="fa fa-camera btn-fa" aria-hidden="true"></i></li>
              </ul>

          </div>

        </div>



        <!-- <div class="sum-poi-journeys">
          <div class="white-container">
            <div class="photo-poi flex-items" style="background-image: url('http://lorempixel.com/500/500');">
            </div>
            <div class="flex-items flex-items-right">

                  <p class="padding-p">Creators on the spot</p>
                  <div class="list-users">
                     <ul class="list-inline list-unstyled">
                        <li> <= image_tag "logo.png",  alt: "user", class: "avatar-medium" %> </li>
                        <li><= image_tag "logo.png",  alt: "user", class: "avatar-medium" %></li>
                    </ul>
                  </div>


                <div>
                  <ul class="list-inline list-unstyled poi-content">
                    <li><i class="fa fa-font  btn-fa" aria-hidden="true"></i></li>
                    <li><i class="fa fa-exclamation  btn-fa" aria-hidden="true"></i></li>
                    <li><i class="fa fa-youtube-play btn-fa" aria-hidden="true"></i></li>
                    <li><i class="fa fa-microphone btn-fa" aria-hidden="true"></i></li>
                    <li><i class="fa fa-camera btn-fa" aria-hidden="true"></i></li>
                  </ul>
                </div>
            </div>
          </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>
