<div class="poi-container-full">
  <div class="row">

      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="container-height">
        <div class="banner">
          <div>
            <%= image_tag "logo.png",  alt: "user", class: "avatar-large" %>
          </div>
          <div class="banner-title">
            <h3>BALADE SOLITAIRE</h3>
            <p>par thomasloldu44</p>
          </div>
        </div>


        <div class="poi-body-contenu">

          <div class="container-poi">


            <div class="flex1">
               <i class="fa fa-font  btn-fa fa-5x  " aria-hidden="true"></i>
            </div>


            <div class="flex2">
              <i class="fa fa-youtube-play btn-fa icon-add-content" aria-hidden="true"></i>
              <p>Choisi ton média</p>
              <i class="fa fa-microphone btn-fa " aria-hidden="true"></i>
            </div>

            <div class="flex3">
              <i class="fa fa-camera btn-fa" aria-hidden="true"></i>

              <i class="fa fa-exclamation  btn-fa" aria-hidden="true"></i>
            </div>
          </div>

        </div>

        <div class="map" id="map">
       </div>

        <div class="footer ">

          <div class="footer-user-change">
            <i class="fa fa-angle-left btn-fa" aria-hidden="true"></i>
            <%= image_tag "logo.png",  alt: "user", class: "avatar-small" %>
          </div>
          <div class="footer-title">
            <h4>Chateau des ducs de bretagne</h4>
          </div>
          <div class="footer-user-change">
            <%= image_tag "logo.png",  alt: "user", class: "avatar-small" %>
            <i class="fa fa-angle-right btn-fa" aria-hidden="true"></i>
          </div>
       </div>

      </div>
    </div>
  </div>
</div>



